.headText {
    margin: 10px;
}

.sched {
    margin: 10px;
}

.sched input {
    margin-bottom: 8px;
}

#currentDate {
    text-align: center;
    font-size: 20px;
    margin-bottom: -20px;
}

#todaysDate {
    text-align: center;
    font-size: 35px;
}

#current {
    text-align: center;
    font-size: 30px;
}

#timeLeft {
    text-align: center;
    font-size: 27px;
    margin-top: -30px;
}

#schedule {
    text-align: center;
}

.schedList {
    text-align: center;
}

.schedules {
    text-align: center;
}

button {
    margin: 10px;
}

/* Alerts */

.alert {
    background-color: rgb(252, 55, 55);
    padding: 18px;
    color: white;
    font-family: 'ABeeZee';
    display: none;
    margin-bottom: 15px;
}

.alertClose {
    color: white;
    font-size: 25px;
    font-family: 'ABeeZee';
    font-weight: bold;
    float: right;
    cursor: pointer;
    transition: 0.3s;
}

.alertClose:hover {
    color: black;
}

